<html>
<body>
    <form action="/create" method="post">
        Name
        <input type="text" name="name">
        Message
        <input type="text" name="message">
        <button type="submit" text="Submit">
    </form>
</body>
</html>
